<div class="container">
  <%= form_for @inspiration do |f| %>

    <p>
      I wish somebody would make a device to sense<br>
      <%= f.text_field :sense, class: "form-control" %><br>
      because it would be really useful for<br>
      <%= f.text_field :application, class: "form-control long"  %>.
    </p>

    <canvas id="simple_sketch" width="300" height="300"></canvas>

    <%= f.hidden_field :image, id: "image" %>

    <%= f.submit "Save", class: "btn btn-info", id: "form-submit" %>
  <% end %>  

  <div class="inspirations-list">
    <% @inspirations.each do |i| %>
      <p> 
        I wish somebody would make a device to sense <span class="highlight"><%= i.sense %></span> because it would be really useful for <span class="highlight"><%= i.application %></span>.<br>
      </p>
      <img src=<%= "#{i.image}" %>>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(function() {
    $('#simple_sketch').sketch();
  });

  $("#form-submit").on("click", function(e){
    e.preventDefault();
    var canvas = document.getElementsByTagName("canvas")[0]
    canvas.fillStyle = "white";
    $("#image").val(canvas.toDataURL('image/jpg'));
    $("#new_inspiration").submit();
  });
</script>
