<div class="container">
  <%= form_for @inspiration do |f| %>

    <p class="prompt">What is home like for you?</p>
    
    <%= f.text_area :sense, class: "form-control", cols: "65", rows: "2" %>
    <canvas id="simple-sketch" width="500" height="250"></canvas>
    <a id="clear">Clear canvas</a>

    <%= f.hidden_field :image, id: "image" %>

    <%= f.submit "Submit", class: "btn btn-info", id: "form-submit" %>
  <% end %>  
</div>


<script type="text/javascript">
  var sketch = $('#simple-sketch').sketch();

  $("#clear").on("click", function(){
    sketch.sketch().actions = [];
    var canvas = document.getElementById("simple-sketch");
    var ctx = canvas.getContext('2d');
    ctx.clearRect(0, 0, canvas.width, canvas.height);
  });

  $("#form-submit").on("click", function(e){
    e.preventDefault();
    canvas = document.getElementById("simple-sketch");
    $("#image").val(canvas.toDataURL('image/jpg'));
    $("#new_inspiration").submit();
  });
</script>