.center {
  text-align: "center";
}

.home {
  margin: 50px 0;
}

.btn-info {
  background: #16a085;
  font-size: 18px;
  margin-top: 30px;
}

.highlight {
  font-size: 1.2em;
  font-weight: bold;
}

.inspirations-list {
  font-size: 20px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: scroll;
}

.prompt {
  font-family: 'La Belle Aurore', cursive;
  background: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.form-control {
  max-width: 500px;
}

canvas {
  background: whitesmoke;
  display: block;
  margin: 10px 0 0 0;
  cursor: url("https://dl.dropboxusercontent.com/s/mm2ski62p7xx7ae/pen.png") 27 27, auto;
}

form {
  margin-bottom: 40px;
}

#clear {
  padding: 10px;
  background: white;
  cursor: pointer;
  position: absolute;
  left: 410px;
  color: #696969;
  text-decoration: none;

  &:hover {
    color: #151515;
  }
}


@media (max-width: 500px){
  canvas {
    width: 100%;
  }

  #clear {
    left: auto;
    right: 10px;
  }

  .prompt {
    font-size: 32px;
  }
}