$width: 600px;

.center {
  text-align: "center";
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;

  ul {
    padding: 0;

    li {
      display: inline-block;
      padding-bottom: 5px;
      margin-right: 25px;
      letter-spacing: 1px;

      &:hover {
        a {
          color: #46b8da !important;
        }

        border-bottom: 1px solid #46b8da !important;
      }

      &.active {
        font-weight: bold;
        border-bottom: 1px solid #16a085;
      }

      a {
        color: #16a085;
        text-decoration: none;
      }
    }
  }
}

.btn-info {
  background: #16a085;
  font-size: 18px;
  margin-top: 30px;
}

.home-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

.highlight {
  font-size: 1.2em;
  font-weight: bold;
}

.inspirations-list {
  font-size: 20px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: scroll;
}

.prompt {
  font-family: 'La Belle Aurore', cursive;
  background: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.answer {
  max-width: $width;
  margin-bottom:30px;
  border-bottom: 1px solid #46b8da;

  p {
    margin-bottom: 10px;
  }
}

.image {
  margin-bottom: 15px;
}

.form-control {
  max-width: $width;
}

.canvas-container {
  position: relative;
  max-width: $width;
}

canvas {
  background: whitesmoke;
  display: block;
  margin: 10px 0 0 0;
  cursor: url("https://dl.dropboxusercontent.com/s/mm2ski62p7xx7ae/pen.png") 27 27, auto;
}

.palette {
  ul {
    padding: 5px 0;
    li {
      display: inline-block;
      margin: 5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      cursor: pointer;
    }

    a {
      text-decoration: none;
    }
  }
}

form {
  margin-bottom: 40px;
}

#clear {
  padding: 5px 10px;
  background: white;
  cursor: pointer;
  position: absolute;
  right:0;
  color: #696969;
  text-decoration: none;

  &:hover {
    color: #151515;
  }
}


@media (max-width: $width){
  .canvas-container, canvas, .answer, .image {
    width: 100%;
  }

  .prompt {
    font-size: 32px;
  }
}