.center {
  text-align: "center";
}

.home {
  margin: 50px 0;
}

.btn-info {
  background: #16a085;
  font-size: 22px;
}

.form-control {
  width: auto;
  min-width: 300px;
  display: inline-block;

  &.long {
    width: 500px;
  }
}

.highlight {
  font-size: 1.2em;
  font-weight: bold;
}

.inspirations-list {
  font-size: 20px;
  margin-bottom: 20px;
  height: 400px;
  overflow-y: scroll;
}

.prompt {
  font-family: 'La Belle Aurore', cursive;
  background: white;
  font-size: 40px;
  margin-bottom: 20px;
}

canvas {
  background: whitesmoke;
  display: block;
  margin: 10px 0;
  cursor: url("https://dl.dropboxusercontent.com/s/mm2ski62p7xx7ae/pen.png") 27 27, auto;
}

form {
  margin-bottom: 40px;
}
